body {
    background: linear-gradient(rgba(217, 252, 250, 1),rgba(204, 251, 239, 1), rgba(203, 253, 241, 1), rgba(238, 255, 251, 1),rgba(220, 252, 223, 0) );
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0;
    margin-right: 10vw;
    height: 100vh;
}
main{
display: flex;
flex-direction: column;
justify-content: center;
height: 100vh;
}
.centrologin {
    background: none;
    width: 434px;
    height: 518px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;   
    padding: 30px;
}
.bomdia {
    text-align: center;
    font-size: 65px;
    width: 401px;
    height: 81px;
    font-family: 'Alex Brush', cursive;
    padding: 40px;
    color: #349194;
}

.bomdia2{
    text-align: center;
    font-size: 65px;
    width: 401px;
    height: 81px;
    font-family: 'Love Ya Like A Sister', cursive;
    padding: 40px;
    color: #306A5C;
}

.texto2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
    color: #228E8E;

}

.texto3 {
    text-align: center;
    font-size: 23px;
    font-family: 'M PLUS 1 Code', monospace;
}
.texto4{
    font-family: 'Magra', sans-serif;
    font-size: 15px;
}
.divisaocaixas{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 100%;
}
.caixa{
    border: none;
    width: 50%;
    padding-block-end: 24px;
    border-radius: 12px;
    padding: 18px;
}
img{
    position: absolute;
    left: 00px;
}
.botaozaoinsano{
    border: none;
    width: 120px;
    text-align: center;
    padding-block-end: 10px;
    border-radius: 12px;
    background: linear-gradient(rgba(116, 216, 192, 1),rgba(106, 207, 183, 0.885), rgba(27, 141, 114, 0)  );
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    height: 40px;
}