body {
    background: linear-gradient(rgba(217, 252, 250, 1),rgba(204, 251, 239, 1), rgba(203, 253, 241, 1), rgba(238, 255, 251, 1),rgba(220, 252, 223, 0) );
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.centrocadastro{
    width: 650px;
    height: 90vh;
    background-color: rgba(172, 238, 230, 1);
    text-align: center;
    border-radius: 50px;
    font-size: xx-large;
    font-family: 'M PLUS 1 Code', monospace;
}
.botaotarefa{
    margin-top: 40px;
    padding: 24px 12px;
    border: none;
    background-color: rgba(106, 207, 183, 1);
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
}

.imagemtarefa{
    height: 200px;
}

.divisaocadastrocampos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}
.divisaocadastrocampos input{
    width: 80%;
    padding: 24px 12px;
    border-radius: 10px;
    border: none;
    background-color: white;
}
.divisaocadastrocampos input,.divisaocadastrocampos input::placeholder{
    font-size: 1rem;   
}

.textobotao{
    font-size: 18px;
}